body{
  font-family: 'Lato', sans-serif;
  padding:0px;
}
#first{
  font-weight:900;
}
#header{
  background-color:blue;
  box-shadow:0 1px 50px black;
  margin:0px;
  overflow:auto;
}
#header-list{
  list-style-type:none;
  font-size:30px;
  float:left;
}
#header-list > li{
  float:left;
  margin:5px;
  display:inline-block;
}
