body{
  font-family: 'Lato', sans-serif;
}
#first{
  font-weight:900;
}
#header{
  background-color:blue;
  box-shadow:0 1px 50px black;
  margin:0;
}
#header-list{
  list-style-type:none;
  float:right;
  font-size:30px;
}
