body{
 	font-family: 'Lato', sans-serif;
}
#first{
 	font-weight:900;
}
#header{
 	background-color:blue;
 	padding:0, 20px;
 	box-shadow:0 1px 50px black;
 	overflow:auto;
 	position:fixed;
 	top:0;
 	left:0;
 	width:100%;
}
#header-list{
 	padding:0;
 	margin:0;
 	list-style-type:none;
 	font-size:20px;
 	float:left;
}
#header-list > li{
 	float:left;
 	margin:5px;
 	display:inline-block;
}
